# LEAVE line endings alone
# * text=auto
# Ensure our generated docs have sensible line endings
/.docs/Brownserve.PSTools* text eol=lf
/.docs/Brownserve.PSTools.md text eol=lf
CHANGELOG.md text eol=lf