source https://api.nuget.org/v3/index.json

# We'll use Invoke-Build to make building our nuget package easy as peas
nuget Invoke-Build

# Pester for unit tests
nuget Pester

# We'll need nuget to package things
nuget NuGet.CommandLine

# try grabbing platyPS via GitHub
github PowerShell/platyPS:v2